@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #eee;
}
li {
    list-style-type: none;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.todo-wrapper {
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    background: #fff;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.form-wrapper {
    padding: 20px;
}
.todo-form {
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: grid;
    gap: 10px;
    border-radius: 10px;
}
.todo-form label {
    font-size: 1rem;
    font-weight: 600;
}
.todo-form input {
    padding: 10px 16px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}
.todo-form input:focus {
    outline: 2px solid lightskyblue;
}
.todo-form_action {
    display: flex;
    justify-content: end;
    gap: 10px;
}
.btn {
    cursor: pointer;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
}
.btn-primary {
    background: lightblue;
}
.btn:hover {
    background: silver;
}
.btn-primary:hover {
    background: lightskyblue;
}
.todos {
    margin-top: 20px;
    display: grid;
    gap: 10px;
}
.todo-item {
    padding: 20px;
    background: lightblue;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
}
.todo-item__info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.check-todo {
    width: 24px;
    height: 24px;
}
.check-todo:checked ~ h4 {
    text-decoration: line-through;
}
.todo-item.done {
    background: silver;
}
.todo-item button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px;
    color: white;
    background: lightcoral;
    border: none;
    border-radius: 8px;
}
.todo-item button:hover {
    background: red;
}
